<style>

    h1{
        font-family: 'Tahoma', sans-serif;
        color:#BF4342;
        line-height: 50px;
        font-weight: 700;
        font-size: 45px;
        text-align: center;
    }

    .picture{
        border-radius: 50%;
    } 

    h2{
        font-family: 'Tahoma', sans-serif;
        color:#BF4342;
        line-height: 35px;
        font-weight: 600;
        font-size: 35px;
        text-align: justify;
    }

    .list-section{
        text-decoration: none;
        font-family: 'Tahoma', sans-serif;
        font-weight: bold;
        font-size: 35px;
        text-align: left;  
    }

    body{
        background-color: #E7D7C1;
        color: #8C1C13;
        font-family: 'Geneva', sans-serif;
        font-size: 20px;
        text-align: justify;
    }

    .profile-title{
        font-family: 'Tahoma', sans-serif;
        text-align: left;
    }

    .profile-description{
        font-family: 'Geneva', sans-serif;
        text-align: justify;  
    }

    .list-relationship{
        font-family: 'Tahoma', sans-serif;
        line-height: 35px;
        font-weight: bold;
        font-size: 25px;
        text-align: left;  
    }

    .list-training{
        font-family: 'Tahoma', sans-serif;
        line-height: 30px;
        font-weight: bold;
        font-size: 20px;
        text-align: left;  
    }

    .list-planning{
        font-family: 'Tahoma', sans-serif;
        line-height: 25px;
        font-weight: bold;
        font-size: 15px;
        text-align: left;  
    }

    .list-self-management{
        font-family: 'Tahoma', sans-serif;
        line-height: 20px;
        font-weight: bold;
        font-size: 10px;
        text-align: left;  
    }

    .list-organization{
        font-family: 'Tahoma', sans-serif;
        line-height: 15px;
        font-weight: bold;
        font-size: 5px;
        text-align: left;  
    }

    h3{
        font-family: 'Tahoma', sans-serif;
        color:#BF4342;
        line-height: 30px;
        font-weight: 600;
        font-size: 20px;
        text-align: justify;
    }

    .blog-list{
        text-decoration: none;
        font-family: 'Tahoma', sans-serif;
        text-align: left;  
    }

    .buton{
        color: #E7D7C1;
        background-color: #8C1C13;
        padding: 15px 30px;
        border-radius: 4px;
        font-size: 16px;
        line-height: 20px;
        font-weight: 700;
        text-decoration: none;
    }

</style>